@import '../../Styles/style.scss';


.cart-dropdown {
   position: absolute;
   width: 260px;
   height: 360px;
   display: flex;
   flex-direction: column;
   padding: 20px;
   background-color: white;
   top: 80px;
   right: 180px;
   z-index: 2;
   border-radius: $border-radius-2;
   box-shadow: $shadow-outer-2;

   .cart-items {
      height: 240px;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;

      .empty {
         text-transform: uppercase;
         margin: auto 0;
         font-size: 1.5rem;
         align-self: center;
      }
   }

   button {
      margin-top: auto;
   }

}
