
// Import Fonts 
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@400;700&display=swap');

// Typo
$heading-font: 'Yanone Kaffeesatz', cursive;
$body-font: 'Yanone Kaffeesatz', cursive;
$small-text: .85rem;
$letter-spacing-1: 0.1rem;
$letter-spacing-2: 0.15rem;
$letter-spacing-3: 0.2rem;
$letter-spacing-4: 0.25rem;
$letter-spacing-5: 0.35rem;
$letter-spacing-6: 0.4rem;